body{
	background-color: black;
	color: white;
	font-size: 40px;
	line-height: 42px;
	font-family: psfournier-std, sans-serif;
}

h1{
	font-size: 33vw;
	line-height: 23vw;
	letter-spacing: -16px;
	text-align: right;
	margin-top: 5vw;
	font-family: stolzl, sans-serif;
}

h2{
	font-family: stolzl, sans-serif;
	font-size: 80px;
	line-height: 75px;

}

h3{
	font-size: 60px;
	line-height: 62px;
}

p{
	font-size: 40px;
	line-height: 42px;

}