.bg{
	font-family:Tahoma, Geneva, sans-serif;
	text-align: center;
	font-size: 150px;
	transform: uppercase; 
	color: lightpink;
	font-style: bold;
	
}

.fg{
	font-family:Tahoma, Geneva, sans-serif;
	text-align: center;
	font-size: 150px;
	transform: uppercase;
	text-align: center;
	color: hotpink;
	position: fixed;
	top: -10px;
	left: 0px;
}

.t{
	font-family:Tahoma, Geneva, sans-serif;
	color: lightpink;
	padding:100px;
	font-size: 50px;
	text-align: center;
}

body{
	background-color: black;
}

