body {
	font-family: georgia;
	font-size: 30px;
	background: white;
}

a {
	color:red;
}

.box1{
	width: 60vw;
	background:black;
	height: 120vh;
}

.box2{
	width: 55vw;
	height:110vh;
	background: white;
}

.box3{
	width: 50vw;
	height:100vh;
	background: white;
}


.box4{
	width: 45vw;
	background:black;
	height: 90vh;
}

.box5{
	width: 40vw;
	height:80vh;
	background: white;
}

.box6{
	width: 35vw;
	height:70vh;
	background: white;

}

.box7{
	width: 30vw;
	height:60vh;
	background: black;
}

.box8{
	width: 25vw;
	height:50vh;
	background: white;
}

.box9{
	width: 20vw;
	height:40vh;
	background: white;
}

}

.box10{
	width: 15vw;
	height:30vh;
	background: black;
}

.box11{
	width: 10vw;
	height:20vh;
	background: white;
}

.box12{
	width: 5vw;
	height:10vh;
	background: white;

}

.title{
	position: fixed;
	left: 65%;
	color: black;
	top: 20%;
	font-size: 50px
	
}


.title2{
	position: fixed;
	left: 65%;
	color: black;
	top: 30%;
	
}

.title3{
	position: fixed;
	left: 65%;
	color: black;
	top: 35%;
	
}


