.message{
	font-family: Tahoma;
	font-size: 170px;
	color: silver;
	text-align: center;
}

.shape1{
	width:300px;
	height:200px;
	background: coral;
	text-align: center;
	position: fixed;
	left: 70%;
	font-family: georgia;
	font-size: 60px;
	color: white;
	top: 10%;
	z-index: -1;
}

.shape2{
	width: 680px;
	height:220px;
	background: hotpink;
	position: fixed;
	left: 30%;
	top: 60%;
	font-size: 220px;
	color: white;
	text-align: center;
	z-index: -1;
}


.shape3{
	width:300px;
	height: 80px;
	background: blue;
	left: 100px;
	background: crimson;
	font-size: 80px;
	color: white;
	position: fixed;
	top: 5%;
	left: 10%;
	text-align: center;
	z-index: -1;
}






