body{
	background-color: white;
	color: black;
	font-size: 20px;
	line-height: 30px;
	font-family: fira-sans, sans-serif;
	font-weight: 200;

}

.title{
	font-family: acumin-pro-extra-condensed, sans-serif;
	font-size: 23vw;
	line-height: 22vw;
	text-align: right;
	letter-spacing: -5px;
	padding-right: 20px;
}

.mb{
	width: 18vw;
	height:100vh;
	background-color: black;
	position: fixed;
	top:0%;
	left: 0%;
	color: white;
	font-size: 20px;
	overflow: scroll;
	padding: 15px;

}

.a1{
	padding-top: 30px;
	padding-left: 5px;
	padding-bottom: 25px;
	color: white;
}


.a2{
	padding-top: 30px;
	padding-left: 5px;
	padding-bottom: 25px;
	color: white;
}


.a3{
	padding-top: 30px;
	padding-left: 5px;
	padding-bottom: 25px;
	color: white;
}

.pub{
	color: white;
}

.author{
	color: white;
}

.date{
	color: white;
	padding-bottom: 30px;
}

.article{
	padding-top: 30px;
	padding-left: 5px;
	color: red;
	font-size: 30px;
}




/*

.nav{
	font-weight: 100; 
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	height: 25vh;
	text-align: center;
	position: fixed;
    width: 100%;
    bottom: 0px;
}

.a1{
	background-color: white;
	padding: 25px;
	outline: 5px solid black;
	color: black;
}

.a2{
	background-color: white;
	padding: 25px;
	outline: 5px solid black;
	color: black;
}

.a3{
	background-color: white;
	padding: 25px;
	outline: 5px solid black;
	color: black;
}

.w1of3{
	width: 33.33%;
}

.box{
	height: 15vh;
}