body{
	background-color: black;
	color: white;
	font-size: 50px;
	line-height: 60px;
	font-family: stolzl, sans-serif;
}

.title{
	font-family: stolzl, sans-serif;
	font-size: 15vw;
	line-height: 17vw;
	text-align: right;
	letter-spacing: -10px;
	padding-bottom: 50px;
}

.nav{
	font-weight: 100; 
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	height: 25vh;
	text-align: center;
	position: fixed;
    width: 100%;
    bottom: 0px;
}

.a1{
	background-color: indianred;
	padding: 25px;
}

.a2{
	background-color: darkcyan;
	padding: 25px;
}

.a3{
	background-color: seagreen;
	padding: 25px;
}

.w1of3{
	width: 33.33%;
}

.box{
	height: 15vh;
}