body{
	background-color: white;
	color: black;
	font-size: 20px;
	line-height: 42px;
	font-family: acumin-pro, sans-serif;
	font-weight: 380;
}

.chapter{
	width: 100vw;
	height: 100vh;
	outline: 2px;
	background-color: black;
	color: white;
}

h1{
	font-family: acumin-pro-extra-condensed, sans-serif;
	font-size: 18vw;
	line-height: 18vw;
	text-align: right;
	font-weight: 900;
	padding-top: 20px;
	padding-right: 1vw;
}

h2{
	font-size: 3vw;
	line-height: 3vw;
	text-align: right;
	font-family:  nimbus-sans, sans-serif;
	padding-top: 75px;
	letter-spacing: 3px;
	padding-right: 1vw;
}

h3{
	font-size: 3vw;
	line-height: 4vw;
	text-align: center;
	padding-right: 1vw;
	padding-left: 1vw;
	font-family:  nimbus-sans, sans-serif;
	padding-top: 50px;
	padding-bottom: 50px;
	color: red;


}

h4{
	font-size: 7vw;
	line-height: 10vw;
	text-align: left;	
	padding-left: 15vw;
	font-weight: 100;
	padding-top: 50px;
	font-family: acumin-pro-extra-condensed, sans-serif;

}

p{
	font-size: 1.25vw;
	line-height: 2.5vw; 
	padding-right: 15vw;
	padding-left: 15vw;
	text-align: left;
	padding-top: 50px;
	padding-bottom: 50px;
	font-weight: 300;
}


.img{
	width: 100%;
}

.image1{
	width: 50px;
	margin-left: auto;
	margin-right: auto;
}



.nav{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	height: 25vh;
	text-align: center;
}

.a1{
	background-color: black;
	padding: 25px;
	outline: 5px solid white;
	color: white;
}

.a2{
	background-color: black;
	padding: 25px;
	outline: 5px solid white;
	color: white;
	line-height: 21px;
}

.a3{
	background-color: black;
	padding: 25px;
	outline: 5px solid white;
	color: white;
}

.w1of3{
	width: 33.33%;
}
