body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 60px;
	text-align: center;
	background:ghostwhite;
}

a {
	color:red;
}


span {
	color:orange;
	font-size: 150px;
	padding: 50px;
}

.Imagine{
	text-align: center;
	font-size: 150px;
    color: orange;
    padding: 50px;
}

.found{
	text-align: center;
	font-size: 150px;
	color:orange;
	padding: 50px;
}


.living{
	font-size: 150px;
	color: orange;
	padding: 50px;
}


.info2{
	color: orangered;
	font-size: 20px;
	text-align: center;
}

.info3{
color: orangered;
font-size: 20px;
text-align: center;
}

.word2{
	padding: 50px;
	color:orange;
	font-size: 150px;
}

.word3{
	padding: 50px;
	color: orange;
	font-size: 150px;
}


.info1{
	color: orangered;
	text-align:center;
	font-size: 20px;
}

	


