body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 60px;
	text-align: center;
	background: black;
}

a {
	color:red;
}


span {
	color:red;
}


.Imagine{
	text-align: center;
	font-size: 150px;
	font-style: italic;
	color: salmon;
}

.we{
	text-align: centre];
	font-size: 150px;
	color: salmon;
}

.word1{
	text-align: center;
	font-size: 150px;
	font-style: italic;
	color: salmon;
}


.living{
	text-align:center;
	font-size: 150px;
	color: salmon;
}

.word2{
text-align: center;
font-size: 150px;
font-style: italic;
color: salmon;
}


.word3{
text-align: center;
font-size: 150px;
color: salmon;
}


.info{
	color: white;
	font-size: 20px;
	padding: 100px;
	text-align: left;
	transform-origin: 0 0;
	transform: rotate(-90deg);

}